@{
    ViewBag.Title = "Home Page";
}

@section styles {
    @Styles.Render("~/Content/jquery.orgchart.css")
    @Styles.Render("~/Content/kendo/kendo.black.min.css")
    @Styles.Render("~/Content/kendo/kendo.common.min.css")
    @Styles.Render("~/Content/kendo/kendo.default.min.css")
    @Styles.Render("~/Content/base.css")
<style>
    /* Custom chart styling */
.jOrgChart {
  margin                : 10px;
  padding               : 20px;
}

/* Custom node styling */
.jOrgChart .node {
	font-size 			: 14px;
	background-color 	: #35363B;
	border-radius 		: 8px;
	border 				: 5px solid white;
	color 				: #F38630;
	-moz-border-radius 	: 8px;
}
	.node p {
		font-family 	: tahoma;
		font-size 		: 10px;
		line-height 	: 11px;
		padding 		: 2px;
	}
    .node a {
        color: #F38630;
    }

    .node label {
        display: inline;
    }
    .disabled .node {
        background-color: gray;
    }

.other-nodes {
    width: 100px;
    float: left;
}
    .other-nodes li {
        cursor: pointer;
    }
    .other-nodes li:hover {
        background-color: orange;
    }
    .other-nodes li.ui-draggable-dragging {
        background: blue;
        color: white;
    }

#orgChart {
    float: left;
    clear: right;
}
</style>
}

<div>
    <script type="text/x-kendo-tmpl" id="otherNodeTemplate">
        <li class="node" data-id="${Id}">${Name}</li>
    </script>
    <!-- these need to have a class of node so that jOrgChart knows it can accept them on droppables -->
    <ul id="otherNodesList" class="other-nodes"></ul>
    <ul id="org" style="display:none">
        <li>
            Food
            <ul>
                <li>Beer</li>
                <li>Vegetables
                    <ul>
                        <li>Pumpkin</li>
                        <li><a href="http://tquila.com" target="_blank">Aubergine</a></li>
                    </ul>
                </li>
                <li>Bread</li>
                <li>Chocolate
                    <p><input type="checkbox" name="chocolate"/><label for="chocolate">Disable</label></p>
                    <ul>
                        <li>Topdeck</li>
                        <li>Reese's Cups</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <div id="orgChart"></div>

</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/jquery.orgchart.js")
    @Scripts.Render("~/Scripts/kendo.web.min.js")
    @Scripts.Render("~/Scripts/kendo.aspnetmvc.min.js")
    <script type="text/javascript">
        $(document).ready(function() {
            $("#org").jOrgChart({
                chartElement: '#orgChart',
                dragAndDrop: true
            });
            $('#org').on('DOMSubtreeModified', function () {
                console.log('tree modified');
            });

            var otherData = [
                { Id: 1, Name: "McDonald's" },
                { Id: 2, Name: "KFC" },
                { Id: 3, Name: "Oporto" }
            ];

            var dataSource = new kendo.data.DataSource({ data: otherData });
            
            var listview = $("#otherNodesList")
                .kendoListView({
                    dataSource: dataSource,
                    template: kendo.template($("#otherNodeTemplate").html())
                })
                .data('kendoListView');
            
            dataSource.read();

            function makeDraggable() {
                $('.other-nodes li').draggable({
                    stop: function () {
                        listview.refresh();
                        makeDraggable();
                    }
                });
            }

            makeDraggable();

            $(document).on('click', '.jOrgChart input[type=checkbox]', function (e) {
                var $this = $(this);
                var $tr = $this.closest('tr');
                if ($tr.hasClass('contracted') || $tr.hasClass('expanded')) {
                    $this.closest('div.node').click();
                }
                $tr.closest('table').toggleClass('disabled');
                e.stopPropagation();
            });
            $(document).on('drop', '.jOrgChart .node', function (event, ui) {

                if (!ui.draggable.is('.other-nodes li')) return;

                var targetId = $(this).data("tree-node");
                var targetLi = $this.find("li").filter(function() { return $(this).data("tree-node") === targetId; });
                var targetUl = targetLi.children('ul');

                var itemId = ui.draggable.data('uid');
                var item = dataSource.getByUid(itemId);
                
                var sourceLi = '<li>' + item.Name + '</li>';
                if (targetUl.length > 0) {
                    targetUl.append(sourceLi);
                } else {
                    $("<ul />")
                        .appendTo(targetLi)
                        .append(sourceLi);
                }

                dataSource.remove(item);
                listview.refresh();
                makeDraggable();

                $('#orgChart').children().remove();
                $("#org").jOrgChart({
                    chartElement: '#orgChart',
                    dragAndDrop: true
                });
            });
        });
    </script>
}
