
@model Web.Models.BusinessEntities.Details

@{
    ViewBag.Title = "Create";
}

<div class="page" data-url="@Url.Action("Create")">

    <h2>Create</h2>

    @using (Html.BeginForm("Create", "BusinessEntities", FormMethod.Post, new { @class = "ajax" })) {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Details</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ShortDescription)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ShortDescription)
                @Html.ValidationMessageFor(model => model.ShortDescription)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.LongDescription)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LongDescription)
                @Html.ValidationMessageFor(model => model.LongDescription)
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
