@model Common.Address
<div class="address">
    <span class="line-1">@Model.Line1</span>
    <span class="line-1">@Model.Line2</span>
    <span class="city">@Model.City</span>
    <span class="region">@Model.Region</span>
    <span class="postal-code">@Model.PostalCode</span>
    <span class="country">@Model.Country</span>
</div>